body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #1d1e4c, #8d5c9d);
    font-family: 'Poppins', sans-serif;
}

.login-container {
    margin-top: 20px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input::hover{
    border: 2px #ffffff;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: white;
    margin: 10px 0;
}

.login-options label {
    display: flex;
    align-items: center;
}

.login-options a {
    color: #ff9dd9;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #a36ebd;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #8a5aa9;
}

.register-link {
    margin-top: 15px;
    color: white;
    cursor: pointer;
}

.register-link:hover {
    text-decoration: underline;
}

input[type="checkbox"] {
    scale: 1.5;
}
